<!DOCTYPE html>
<html ng-app="group">
  <head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <style>
      .top-buffer { margin-top:20px;}
    </style>
  </head>
  <body ng-controller="GroupController as group" ng-init="init('teachers')">

    <!-- NAVBAR -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">JUSTF</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Docenten <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Studenten</a></li>
            <li><a href="#">Groepen</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- CONTENTS -->
    <div class="container">
      <div class="page-header">
        <h1>Docenten</h1>
      </div>

      <!-- BAR -->
      <div class="row">
        <div class="col-xs-7">
          <button ng-disabled="currentPage==0" class="btn btn-primary" type="button"
            ng-click="currentPage = currentPage - 1"
              >
              &#171;
          </button>

          {{currentPage + 1}} / {{pageCount()}}

          <button ng-disabled="currentPage==(pageCount()-1)" class="btn btn-primary" type="button"
            ng-click="currentPage = currentPage + 1"
            >
            &#187;
          </button>

          <span>{{filteredData.length}} persons found<span>
        </div>

        <div class="col-xs-4">
          <input type="text" placeholder="Zoeken in Docenten" class="form-control"  ng-model="searchQuery">
        </div>

        <div class="col-xs-1">
          <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#createModal">
            &#10133;
          </button>
        </div>
      </div>

      <!-- TABLE -->
      <div class="row top-buffer">
        <table class="table table-hover">
          <tr>
            <th class="col-xs-2">Verwijderen</th>
            <th class="col-xs-5">
              Voornaam
            </th>
            <th class="col-xs-5">
              Achternaam
            </th>
          </tr>

          <tr ng-repeat="docent in filteredData = (data | filter:searchQuery) | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>
              <a class="btn btn-default" ng-click="delete(docent.id)">&#10006;</a>
            </td>
            <td>
              {{docent.firstName}}
            </td>
            <td>
              {{docent.lastName}}
            </td>
          </tr>
        </table>
      </div>

      <!-- MODAL -->
      <div id="createModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title">Docent Toevoegen</h3>
            </div>
            <form role="form">
              <div class="modal-body">
                <strong>Voornaam</strong>
                <input id="inputForm" type="text" class="form-control" placeholder="Voornaam" ng-model="createData.firstName">
                <strong>Achternaam</strong>
                <input type="text" class="form-control" placeholder="Achternaam" ng-model="createData.lastName">
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Maak aan"
                data-dismiss="modal"

                ng-click="
                  create(createData.firstName,createData.lastName);
                  createData.firstName='';
                  createData.lastName='';
                  "
                >
              </div>
          </form>
          </div>

        </div>
      </div>

    </div>
  </body>
</html>
