<!DOCTYPE html>
<html ng-app="groupapp">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/ui-bootstrap.min.js"></script>

    <script src="js/core.js"></script>
    <script src="js/app.js"></script>
    <script src="js/modals.js"></script>

    <style>
      .extra-space{
        padding-bottom:10px;
      }
    </style>

    <title>Teachers</title>
  </head>
  <body ng-controller="CoreController">
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">GroupApp</a>
      <ul class="nav navbar-nav">
        <li><a href="#">Teachers</a></li>
        <li><a href="students.html">Students</a></li>
        <li><a href="groups.html">Groups</a></li>
      </ul>
    </nav>

    <div class="container">

      <!-- Page header -->
      <div class="page-header">
        <h2>Teachers</h2>
      </div>

      <!-- Page navigation and search -->
      <div ng-controller="GenericNavigationController" ng-init="navigation.init('data.filteredTeachers')" class="extra-space">
        <div class="col-md-7">
          <button ng-click="navigation.previous()" ng-disabled="!navigation.hasPrevious()" type="button" class="btn btn-primary">&#171;</button>
          {{navigation.currentPage()}} / {{navigation.totalPages()}}
          <button ng-click="navigation.next()" ng-disabled="!navigation.hasNext()" type="button" class="btn btn-primary">&#187;</button>
          <span>{{data.filteredTeachers.length}} people found.</span>
        </div>

        <div class="col-md-4">
          <input type="text" placeholder="Search..." ng-model="navigation.searchQuery" class="form-control">
        </div>

        <div class="col-md-1">
          <button type="button" ng-click="open('modals/addTeacher.html')" class="btn btn-primary">&#10133;</button>
        </div>
      </div>

      <hr>

      <!-- Table with student content -->
      <table ng-init="data.listTeachers()" class="table table-hover">
        <tr>
          <th class="col-md-2">Action</th>
          <th class="col-md-5">First Name</th>
          <th class="col-md-5">Last Name</th>
        </tr>

        <tr ng-repeat="teacher in data.filteredTeachers = (data.teachers | filter:navigation.searchQuery) | startFrom:(navigation.currentPage() - 1)*10 | limitTo:10">
          <td>
            <button type="button" class="btn btn-danger" ng-click="data.deleteTeacher(teacher.id)">&#10006;</button>
            <button ng-click="open('modals/updateTeacher.html',teacher)" type="button" class="btn btn-default">&#x270E;</button>
          </td>
          <td>
            {{teacher.firstName}}
          </td>
          <td>
            {{teacher.lastName}}
          </td>
        </tr>
      </table>

    </div>
  </body>
</html>
