<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h3 class="modal-title">Add Group</h3>
</div>

<form>
  <div class="modal-body">
    <strong>Name</strong>
    <input class="form-control" type="text" placeholder="Name" ng-model="name">
  </div>

  <div class="modal-footer">
      <input type="submit" class="btn btn-primary" value="Add" ng-click="data.createGroup(name);close()">
      <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
  </div>
</form>
