<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h3 class="modal-title">Add Student</h3>
</div>

<form>
  <div class="modal-body">
    <strong>First Name</strong>
    <input class="form-control" type="text" placeholder="First Name" ng-model="firstName">
    <strong>Last Name</strong>
    <input class="form-control" type="text" placeholder="Last Name" ng-model="lastName">
  </div>

  <div class="modal-footer">
      <input type="submit" class="btn btn-primary" value="Add" ng-click="data.createStudent(firstName,lastName);close()">
      <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
  </div>
</form>
